body{
    
  background-color: hsl(228, 72%, 8%);
  background-image: url("images/bg-desktop.svg");
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-size: 14px;
  color: #fff;
  height: 100vh;

  
}
.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    
}


.logo_section{
    flex-flow: column wrap;
    background-color: #1e2c69;
    margin-right: 15px;
    padding:35px;
   
    border-radius: 10px 100px 10px 10px;
}
.icons{
    display: flex;
    
  justify-content: space-around;
    
}
.icon-items{
    padding: 10px;
    background-color: #060c23;
    border-radius: 10px;
    cursor: pointer;
}

.storage_section{
    flex-flow: column wrap;
    background-color:  #1e2c69;
    margin-left: 15px;
    padding:12px;
}
.storage-notification{
    display: flex;
    justify-content: flex-end;
    

}
.storage-notification>span{
    background-color: white;
    width: 10%;
    text-align: center;
}
span{
    color: #000;
}

.left {
    float: left;
}

.right {
    float: right;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
footer {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
    }